ul > li:first-child > span {
  background-color: red;
  color: white;
}
ul > li:last-of-type > span {
  background-color: black;
  color: white;
}
p:nth-child(1) {
  background-color: grey;
}
div + p:not(odd) {
  background-color: grey;
}
li:nth-child(even) > span {
  margin-left: 16px;
}
li {
  margin-bottom: 16px;
}
